body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #d3e9f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo img {
    width: 180px;
    height: 100px;
    margin-bottom: 10px;
}

.logo h1 {
    font-size: 24px;
    color: #4a90e2;
    margin: 0;
    padding-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #4a90e2;
}

.login-btn {
    background-color: #32bd8a;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 16px;
}

.login-btn:hover {
    background-color: #4a90e2; 
}

.forgot-password {
    color: #4a90e2;
    text-decoration: none;
    margin-bottom: 20px;
}

.forgot-password:hover {
    text-decoration: underline;
}

.new-account {
    color: #4a90e2;
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
    cursor: pointer;
}

.new-account:hover {
    text-decoration: underline;
}

.social-login {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-login img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.social-login img:hover {
    opacity: 0.8;
}
