.container.swiper {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: hidden;
  padding-top: 20px;
}

.container-g.swiper-wrapper {
  display: flex;
  align-items: center;
}

.opinion-container {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: 280px;
}

.header-opinion-container {
  display: flex;
  align-items: center;
}

.header-opinion-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.header-opinion-container h3 {
  font-size: 18px;
  margin: 0;
  color: #333;
}

.text-opinion p {
  padding-top: 10px;
  font-size: 14px;
  line-height: 1.5;
  color: #666;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}
